body { background: #64bab7; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 54px; display: flex; }
.block-uploader-0 { color: #b0f32e; font-size: 14px; margin-bottom: 5px; }
.block-filter-1 { color: #f3ab81; font-size: 12px; margin-bottom: 5px; }
.block-email-2 { color: #370f09; font-size: 15px; margin-bottom: 5px; }
.block-session-3 { color: #741d26; font-size: 13px; margin-bottom: 5px; }
.block-product-4 { color: #d5f342; font-size: 20px; margin-bottom: 5px; }
.block-config-5 { color: #c7e1a4; font-size: 17px; margin-bottom: 5px; }